@font-face {
  font-family: 'github-io-icons';
  src: url('../font/github-io-icons.eot?18446084');
  src: url('../font/github-io-icons.eot?18446084#iefix') format('embedded-opentype'),
       url('../font/github-io-icons.woff2?18446084') format('woff2'),
       url('../font/github-io-icons.woff?18446084') format('woff'),
       url('../font/github-io-icons.ttf?18446084') format('truetype'),
       url('../font/github-io-icons.svg?18446084#github-io-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'github-io-icons';
    src: url('../font/github-io-icons.svg?18446084#github-io-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "github-io-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-optimized-for-mobile:before { content: '\e800'; } /* '' */
.icon-back-to-github:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-phone-bold:before { content: '\e803'; } /* '' */
.icon-back-to-github-small:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */