
.icon-optimized-for-mobile:before { content: '\e800'; } /* '' */
.icon-back-to-github:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-phone-bold:before { content: '\e803'; } /* '' */
.icon-back-to-github-small:before { content: '\e804'; } /* '' */
.icon-wakatime:before { content: '\e80a'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */