/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : Apr 23, 2017, 1:26:34 AM
    Author     : T0astBread
*/

* {
    padding: 0;
    margin: 0;
    transition: all .5s;
    box-sizing: content-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #666666;
    font-family: Calibri, sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 7em;
    padding-bottom: 7.5em;
    transition: padding-bottom 0s linear;
}

body > section {
    margin: auto;
    /*margin-top: 10%;*/
    /*margin-bottom: 60%;*/
    height: 100%;
    width: 40%;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    display: flex;
    flex-flow: column;
    opacity: 0;
    animation: intro-section 1s .5s forwards ease, fade-in .7s .5s cubic-bezier(0.52, -0.03, 0.14, 0.99) forwards;
}

@keyframes intro-section {
    from {
        height: 0;
    }
    to {
        height: invalid;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body > *:not(section) {
    opacity: 0;
    animation: fade-in .7s 1s ease forwards;
}


/*body::before
{
    content: " ";
    display: block;
    height: 20%;
}*/

body > section > * {
    width: 100%;
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    border-top: 1px solid #999999;
}

body > section > *:first-child {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

#announcements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 5;
    list-style: none;
}

#announcements li {
    padding: .25em;
    color: #999;
    background-color: rgba(0, 0, 0, .4);
    transition: padding .2s cubic-bezier(0.62, 0.1, 0.43, 1.15);
}

#announcements li:hover {
    padding: .5em .25em;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #999;
}

a:active {
    color: #555;
}

h1, h1::before {
    display: inline;
    vertical-align: middle;
    font-size: 56pt;
    font-family: "PT Serif", serif;
    color: white;
}

h1::before {
    content: " ";
    height: 100%;
    display: inline-block;
}

#banner {
    height: 6em;
    background-color: #333333;
    padding-top: 1em;
    padding-bottom: 1em;
    cursor: pointer;
}

#banner img, #banner object {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    color: white;
    font-size: 33pt;
    font-family: "Times New Roman", serif;
}

h2 {
    font-size: 24pt;
}

ul.selectable-items-list {
    list-style: none;
    padding: 0!important;
    /*height: 15em;*/
    /*height: auto;*/
    overflow-y: auto;
    background-color: #efefef;
    display: flex;
    height: 100%;
    flex-flow: column;
    flex: 1 1 auto;
    text-align: left;
}

ul.selectable-items-list li {
    background-color: #cccccc;
    color: #333333;
    margin-bottom: .3em;
    /*padding-top: .4em;*/
    /*padding-bottom: .4em;*/
    transition: background-color .25s;
    position: relative;
    /*transition: color .2s ease-out;*/
}

ul.selectable-items-list li:last-child {
    margin-bottom: 0;
}

ul.selectable-items-list li:hover {
    background-color: #333333;
}

ul.selectable-items-list li:hover a {
    color: #cccccc;
}

.selectable-items-list li .redirects-to-webpage {
    padding-right: 1.6em;
}

.selectable-items-list li .redirects-to-webpage::after {
    content: "\f08e";
    font-family: "github-io-icons";
    font-size: .75em;
    display: inline-block;
    position: absolute;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
}

.selectable-items-list li .redirects-to-webpage::after:hover {
    color: red;
}

ul.selectable-items-list li a {
    font-size: 22pt;
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: .2em;
    box-sizing: border-box;
    transition: color .15s;
}

.social-media-links {
    user-select: none;
    -webkit-user-drag: none;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.social-media-links:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.social-media-link {
    padding-right: .4em;
}

.social-media-links .social-media-link:not(:last-of-type) {
    border-right: 1px solid black;
}

.social-media-link.icon-twitter:hover {
    color: #1da1f2;
}

.social-media-link.icon-wakatime:hover {
    /*color: #449d44;*/
    color: black;
}

.secret-outer {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: -1;
    height: 8em;
}

.secret-outer * {
    max-width: 100%;
    height: 100%;
}

.secret-inner {
    position: relative;
    left: -50%;
    text-align: center;
    opacity: 0;
    animation: secret-anim 2s 4s forwards;
}

.secret-inner img {
    opacity: .5;
}

.secret-inner *:not(img) {
    opacity: .35;
    margin-top: .5em;
}

.button.button.in-bg.button.bottom.button.left::before {
    font-size: 135%;
    vertical-align: bottom;
}

@keyframes secret-anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 35;
    }
}

.button {
    padding: 1em;
    color: #999;
    background-color: rgba(0, 0, 0, .4);
    border-top-right-radius: 15px;
    transition: padding .2s cubic-bezier(0.24, 1.46, 0.59, 2.05);
}

.button:hover {
    color: #ccc;
}

.button.left:hover {
    padding-left: 1.5em;
}

.button.bottom:hover {
    padding-bottom: 1.2em!important;
}

.button:active {
    color: #aaa;
}

.in-bg {
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding-bottom: .4em;
    font-size: 18pt;
    text-decoration: none;
}

.button.in-bg {
    padding-bottom: .8em;
}

small, .small {
    font-size: 12pt;
}

.centered-container {
    position: absolute;
    left: 50%;
}

.centered {
    position: relative;
    left: -50%;
}

@media screen and (max-width: 980px) {
    body {
        padding-top: 0;
        padding-bottom: 0;
        transition: 0s;
    }

    body > section {
        width: 100%;
        height: 100%;
    }

    /*body::before {
        height: 0;
        display: none;
    }*/

    #announcements {
        font-size: 48pt;
        animation: fade-in .7s 1s ease forwards,
            1s 10s announcements-out-anim ease forwards;
    }

    @keyframes announcements-out-anim {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-100%);
            visibility: hidden;
        }
    }

    #announcements li {
        background: #000d;
    }

    #banner {
        height: 10em;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    h2 {
        font-size: 64pt;
    }

    ul.selectable-items-list li {
        padding: 2em;
    }
    
    ul.selectable-items-list li a {
        font-size: 48pt;
    }

    .social-media-links {
        font-size: 32pt;
        padding-top: .25em;
        padding-bottom: .25em;
    }

    .secret-outer {
        bottom: 30%;
        height: 24em;
    }

    .secret-inner {
        font-size: 48pt;
    }

    .secret-inner *:not(img) {
        opacity: .175;
    }

    .secret-inner img {
        opacity: .5;
    }

    .in-bg {
        display: none;
    }
}
